// variables and mixins
$black: #000000;
$gray: #999999;
$graydark: #333333;
$orange: #D85800;
$white: #ffffff;

$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$wide: 1200px;
$fullhd: 1408px;

$gutter: 1.5em;
$gutter-desktop: 3em;
$gutter-wide: 6em;
$gutter-fullhd: 8em;

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}

body {
    color: $graydark;
    font-family: 'OpenSans-Regular';
}

h1, h2, h3 {
    font-family: 'OpenSans-Bold';
    margin-bottom: 1.5em;
}

h2, h3 {
    margin-top: 1.5em;
}

img {
    display: block;
}

p {
    &:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

.link {
    color: $graydark;
    text-decoration: none;
    transition: all 0.25s ease;

    &:hover {
        color: $orange;
    }

    &--active {
        color: $orange !important;
    }

    &--body {
        @extend .link;

        border-bottom: 1px solid $graydark;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
}

.txt {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }
}

.portfolio {
    overflow-x: hidden;
    padding: 0 $gutter;

    &__body-text {
        margin-bottom: 2em
    }

    &__button, &__button--reverse {
        color: $white;
        cursor: pointer;
        font-family: 'OpenSans-Bold';
        font-size: .9em;
        margin: 0;
        margin-right: 5px;
        overflow: hidden;
        padding: 0.75em 1em;
        padding-right: 2em;
        position: relative;
        text-decoration: none;

        &::before {
            background-color: $orange;
            bottom: 0;
            content: '';
            display: block;
            left: -1em;
            position: absolute;
            right: 0.6em;
            top: 0;
            transform: skewX(-20deg);
            transition: all 0.25s ease;
            z-index: -1;
        }

        &:hover {
            &::before {
                background-color: $black;
            }
        }

        &--reverse {
            margin: 0;
            margin-left: 5px;
            padding: 0.75em 1em;
            padding-left: 2em;

            &::before {
                left: 0.6em;
                right: -1em;
            }
        }
    }

    &__nav-links {
        text-align: center;

        li {
            margin-bottom: 2em;
        }
    }
}

@import './scss/App';
@import './scss/Header';
@import './scss/Footer';
@import './scss/MobileMenu';

@import './scss/Landing';
@import './scss/Showcase';
@import './scss/Project';
@import './scss/Contact';

@media (min-width: $phone) {
    body {
        font-size: 18px;
    }
}

@media (min-width: $desktop) {
    body {
        font-size: 20px;
    }

    .portfolio {
        &__nav-links {
            text-align: right;

            li {
                display: inline-block;
                margin-bottom: 0;

                &:not(:first-child) {
                    margin-left: 1em;
                }
            }
        }
    }
}

@media (min-width: $wide) {
    .portfolio {
        &__nav-links {
            li {
                &:not(:first-child) {
                    margin-left: 2em;
                }
            }
        }
    }
}