// variables and mixins
$black: #000000;
$gray: #999999;
$graydark: #333333;
$orange: #D85800;
$tan: #FFF2E6;
$white: #ffffff;

$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$wide: 1200px;
$fullhd: 1408px;

$gutter: 1.5em;
$gutter-desktop: 3em;
$gutter-wide: 6em;
$gutter-fullhd: 10em;

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}

body {
    color: $graydark;
    font-family: 'OpenSans-Regular';
}

h1, h2, h3 {
    font-family: 'OpenSans-Bold';
    margin-bottom: 5rem;
}

html {
    background-color: $tan;
}

img {
    display: block;
}

p {
    &:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

.link {
    color: $graydark;
    text-decoration: none;
    transition: all 0.25s ease;

    &:hover {
        color: $orange;
    }

    &--active {
        color: $orange !important;
    }

    &--body {
        @extend .link;

        border-bottom: 1px solid $graydark;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
}

.txt {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }
}

@import './scss/App';
@import './scss/Header';
@import './scss/Footer';
@import './scss/MobileMenu';

@import './scss/Landing';
@import './scss/Skills';
@import './scss/Showcase';
@import './scss/Contact';

@media (min-width: $phone) {
    body {
        font-size: 18px;
    }
}

@media (min-width: $desktop) {
    body {
        font-size: 20px;
    }
}