.portfolio__body {
    padding-bottom: 5rem;
    padding-top: 15vh;
    text-align: center;
}

// @media (min-width: $desktop) {
//     .portfolio__body {
//         padding-left: 10%;
//         padding-right: 10%;
//     }
// }

@media (min-width: $wide) {
    .portfolio__body {
        padding-top: 20vh;
    }
}

@media (min-width: $fullhd) {
    .portfolio__body {
        padding-left: 20%;
        padding-right: 20%;
    }
}