.portfolio__body {
    &--inner {
        background-color: $gray;
        color: $graydark;
        margin-bottom: 1rem;
        padding: 2rem 1rem;
        width: 100%;
    }

    &--outer {
        background-color: $graydark;
        text-align: center;
    }

    &__title {
        margin-bottom: 1rem;
    }
}
