.portfolio__contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-col, &-col--left {
        text-align: center;
    }

    &-links {
        a {
            display: block;
            margin: 1em;
        }
    }
}

@media (min-width: $desktop) {
    .portfolio__contact {
        flex-direction: row;

        &-col--left {
            text-align: left;
        }

        &-links {
            text-align: center;
        }
    }
}