.portfolio__contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;

    &-col {
        text-align: center;
    }

    &-links {
        a {
            display: block;
            margin: 1em;
        }
    }
}

@media (min-width: $desktop) {
    .portfolio__contact {
        flex-direction: row;
        height: 90%;
        justify-content: space-around;

        &-links {
            text-align: center;
        }
    }
}

@media (min-width: $fullhd) {
    .portfolio__contact {
        margin: 0 auto;
        width: 75%;
    }
}