.portfolio__footer {
    background-color: $white;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
}

.portfolio__social {
    text-align: center;
    
    &-icon {
        height: 1.5em;
        width: 1.5em;
    }

    &-link {
        cursor: pointer;
        margin: .75rem;
        transition: all 0.25s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}