.portfolio__footer {
    padding: 1em 0;
}

.portfolio__social {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    
    &-icon {
        display: block;
        height: 1.5em;
        width: 1.5em;
    }

    &-link {
        cursor: pointer;
        display: block;
        margin: 0 1em;
        transition: all 0.25s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}

@media (min-width: $desktop) {
    .portfolio__footer {
        border-top: 1px solid $orange;
        padding: 2em 0;
    }
}

@media (min-width: $fullhd) {
    .portfolio__footer {
        padding: 4em 0;
    }
}