.portfolio__footer {
    padding: 3em 0;
    position: relative;
    z-index: 1;

    &::before {
        background-color: $tan;
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: -50vw;
        position: absolute;
        right: 0;
        width: 200vw;
        z-index: -1;
    }
}

.portfolio__social {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    
    &-icon {
        display: block;
        height: 1.5em;
        width: 1.5em;
    }

    &-link {
        cursor: pointer;
        display: block;
        margin: 0 1em;
        transition: all 0.25s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}

@media (min-width: $desktop) {
    .portfolio__footer {
        &::before {
            display: block;
        }
    }
}

@media (min-width: $fullhd) {
    .portfolio__footer {
    }
}