.portfolio__header {
    align-items: center;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;

    &__burger {
        cursor: pointer;
        display: inline-block;
        height: 35px;
        transition: all 0.25s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    &__links {
        display: none;
    }

    &__logo {
        display: inline-block;

        img {
            height: 35px;
        }
    }

    &__nav {
        text-align: right;
    }
}

@media (min-width: $desktop) {
    .portfolio__header {
        border-bottom: 1px solid $orange;

        &__burger {
            display: none;
        }

        &__links {
            display: block;
        }
    }
}

@media (min-width: $desktop) {
    .portfolio__header {
        border-bottom: 1px solid $orange;
        padding: 1.5em;

        &__burger {
            display: none;
        }

        &__links {
            display: block;
        }
    }
}

@media (min-width: $fullhd) {
    .portfolio__header {
        border-bottom: 1px solid $orange;
        padding: 3em;

        &__burger {
            display: none;
        }

        &__links {
            display: block;
        }
    }
}