.portfolio__header {
    align-items: center;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    left: 1.5rem;
    padding: 1rem 0;
    position: fixed;
    right: 1.5rem;

    &__burger {
        cursor: pointer;
        display: inline-block;
        height: 35px;
        transition: all 0.25s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    &__logo {
        display: inline-block;

        img {
            height: 40px;
        }
    }

    &__nav {
        text-align: right;
    }
}