.portfolio__header {
    background-color: transparent;
    padding: 1.5em 0;
    position: relative;

    &::after {
        background-color: #FFF2E6;
        bottom: 0;
        content: '';
        display: none;
        left: -50vw;
        position: absolute;
        right: -50vw;
        top: 0;
        z-index: -1;
    }

    &__burger {
        cursor: pointer;
        display: inline-block;
        height: 35px;
        transition: all 0.25s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    &__links {
        display: none;
    }

    &__logo {
        display: inline-block;
        width: 50%;

        img {
            height: 35px;
        }
    }

    &__nav {
        display: inline-block;
        text-align: right;
        width: 50%;
    }
}

@media (min-width: $desktop) {
    .portfolio__header {
        &::after {
            display: block;
        }

        &__burger {
            display: none;
        }

        &__links {
            display: block;
        }
    }
}