.portfolio__landing {
    align-items: center;
    bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    padding: 0 1.5rem;
    position: fixed;
    right: 0;
    top: 20vh;
}