.portfolio__landing {
    align-items: center;
    display: flex;
    height: 90%;

    &-text, &-img {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    &-img {
        display: none;
    }
}

@media (min-width: $desktop) {
    .portfolio__landing {
        &-text, &-img {
            text-align: left;
            width: 50%;
        }

        &-img {
            display: inline-block;
            text-align: right;

            img {
                display: inline-block;
                width: 90%;
            }
        }
    }
}

@media (min-width: $fullhd) {
    .portfolio__landing {
        margin: 0 auto;
        width: 75%;
    }
}