.portfolio__landing {
    align-items: center;
    display: flex;

    &__ctas {
        display: flex;
        justify-content: center;
    }

    &-text, &-img {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    &-img {
        display: none;
    }
}

@media (min-width: $desktop) {
    .portfolio__landing {
        &__ctas {
            display: block;
        }

        &-text, &-img {
            text-align: left;
            width: 50%;
        }

        &-img {
            display: inline-block;
            text-align: right;

            img {
                display: inline-block;
                width: 85%;
            }
        }
    }
}

@media (min-width: $fullhd) {
    .portfolio__landing {
        &-img {
            img {
                width: 60%;
            }
        }
    }
}