.portfolio__project {
    &__body-wrapper {
        height: 200px;
        position: relative;
    }

    &-hero {
        box-shadow: 0 0px 5px 0 #000000;
        left: (0 - $gutter-width);
        height: 200px;
        overflow: hidden;
        position: absolute;
        right: (0 - $gutter-width);

        img {
            left: 50%;
            max-width: 110%;
            min-width: 100%;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
        }
    }
}

@media (min-width: $tablet) {
    .portfolio__project {
        &__body-wrapper {
            height: 400px;
        }

        &-hero {
            height:400px;
        }
    }
}

@media (min-width: $desktop) {
    .portfolio__project {
        &__body-wrapper {
            height: 400px;
        }

        &-hero {
            height:400px;
            left: (0 - ($gutter-width * 2));
            right: (0 - ($gutter-width * 2));
        }
    }
}

@media (min-width: $wide) {
    .portfolio__project {
        &__body-wrapper {
            height: 400px;
        }

        &-hero {
            height:400px;
            left: (0 - ($gutter-width * 4));
            right: (0 - ($gutter-width * 4));
        }
    }
}