.portfolio__showcase {
    &__buttons {
        display: flex;
        justify-content: center;
    }

    &-col, &-row {
        display: block;

        img {
            height: auto;
            margin: 0 auto;
            padding: 1em 0;
            width: 100%;
        }
    }

    &-row, &-row--featured, &-row--reverse {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }

    &-row, &-row--reverse {
        margin-bottom: 2em;
    }

    &__title {
        background-color: rgba(0, 0, 0, 0.9);
        color: $white;
        padding-top: 2em;
        position: absolute;
        text-align: center;
        top: 1em;
        width: 100%;
    }

    p.featured {
        margin: 0;
    }
}

@media (min-width: $desktop) {
    .portfolio__showcase {
        &__buttons {
            justify-content: left;
        }

        &-col {
            position: relative;
            width: 48%;

            img {
                width: 100%;
            }
        }

        &-row, &-row--reverse, &-row--featured {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow: hidden;
            margin: 0 auto 6%;
            width: 95%;
        }

        &-row--featured {
            height: 57vh;
            width: 100%;
        }

        &-row--reverse {
            flex-direction: row-reverse;
        }

        &__title {
            background-color: transparent;
            color: $graydark;
            padding: 0;
            position: relative;
            text-align: left;
            top: auto;
            width: auto;
        }
    }
}

@media (min-width: $wide) {
    .portfolio__showcase {
        &-row, &-row--reverse {
            width: 85%;
        }
    }
}

@media (min-width: $fullhd) {
    .portfolio__showcase {
        &-row, &-row--reverse {
            width: 75%;
        }
    }
}