.portfolio__showcase {
    &-image {
        display: block;
        height: 100%;
        left: 50%;
        max-width: 120%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &-item {
        box-shadow: 0 0 5px 0 #000000;
        display: block;
        height: 230px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        transition: all 0.25s ease;
        width: 250px;
        z-index: 0;

        &::before {
            background-color: $black;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 0.8;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }

    &-link {
        color: $white;
        font-size: .8em;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.25s ease;
        z-index: 1;
    }

    &-wrapper {
        display: block;
    }
}