.portfolio__skills {
    &__category {
        color: $orange;
        display: inline-block;
        text-align: left;
    }

    &__list {
        padding-left: 1em;
    }

    &__list-item {
        position: relative;
        margin-left: 1em;

        &::before {
            background-color: $orange;
            border-radius: 100%;
            content: '';
            display: block;
            height: 5px;
            left: -0.6em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
        }
    }

    &__list, &__list-item {
        display: inline-block;
        text-align: right;
    }

    &__list-row {
        display: flex;
        justify-content: space-between;
        padding: 1em 0;
        margin: auto;
        max-width: 500px;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

@media (min-width: $desktop) {
    .portfolio__skills {
        &__list, &__list-item {
            display: inline-block;
            text-align: right;
        }
    }
}